.styled-button {
  background: rgb(135, 206, 250);
  cursor: pointer;
  outline: none;
  padding: 10px 40px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 0 5px #000;
  border: none;
  position: relative;
  transition: all 0.3s ease-out;
  z-index: 1;
  &:hover {
    color: #fff;
  }
  &::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    left: auto;
    right: 0;
    background-color: blue;
    transition: all 0.3s ease-out;
    transform-origin: right;
    top: 0;
    z-index: -1;
    border-radius: 5px;
  }
  &:hover::before {
    width: 100%;
    left: 0;
    right: auto;
    transform-origin: left;
  }
}
